@CHARSET "UTF-8";

body {
    background: #eee;
    text-align:left !important;
}

.editormd{
    margin-top:50px;

}

.info{
    width:30%;
    padding-top:40px;
    padding-bottom:50px;
    text-align:center;
    clear:both;
    margin:0 auto;
}
.help{
    margin-top:20px;
    margin-bottom:20px;
    font-size:15px;
}