.form-group {
    text-align: left;
}


.column {
    text-align: center;
}

.comment {
    padding: 5px;
    text-align: left;
}

#article {
    margin-top:80px;
    margin-bottom:80px;
    text-align: center;
    clear: both;
}

#a_head{
    padding-bottom:40px;
}

#tag{
    clear:both;
    margin-bottom:20px;
}

#a_content{
    margin: 100px 10% 100px 10%;

}