@CHARSET "UTF-8";

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.column {
    margin-top: auto;
    margin-bottom: auto;
}

.glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background: #eee;
}

a:link {
    text-decoration: none;
}

.head_line {
    border-bottom: 1px solid #177cb0;
}

.foot_line {
    border-top: 1px solid #C0C0C0;
    margin-bottom: 50px;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #BBBBBB;
}

.inline {
    display: inline;
    float: left;
    margin-left: 23px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#main {
    width: 90%;
    text-align:center;
    padding-bottom:20px;
}

#content {
    text-align: center;
    clear: both;
}

#list {
    margin-top: 10px;
}

#tag {
    margin-top: 50px;
}

#footer {
    width: 100%;
    text-align: center;
}